.bannerWrap {
  border-bottom: 1px solid rgba(255, 255, 255, .12)
}

.activated {
  opacity: 1;
}

.currentTab {
  color: #FF486D;
}

.passedPeriod {
  border-color: #FF486D;
  color: #ffffff;
}

.inviteCodeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 69px;
  background: #302D2E;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  margin-right: 23px;
  text-align: center;
  line-height: 72px;
  font-size: 38px;
  font-weight: 700;
  color: #ffffff;
}

.inviteCodeContainer {
  width: 527px;
  height: 72px;
}

.inviteCodeRoot {
  border: 1px solid red;
}

.inviteCodeCharacter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 38px;
  font-weight: 700;
  border-radius: 12px;
  background: #302D2E;
  margin-right: 14px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.inviteCodeCharacter:last-child {
  margin-right: 0;
}

.inviteCodeCharacterSelected {
  border: 1px solid #ffffff;
  outline: none;
}

.disableButton {
  color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

