.cardWrap {
  border: 1px solid rgba(255, 255, 255, .12);
  border-radius: 16px;
}

.cardWrap:hover {
  border-color: #fff;
  cursor: pointer;
  transition: .3s;
}

.tag {
  background: #E43B57;
}

.textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}